.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


    .FooterTitle{
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
        font-size: 2rem;
    }

    .Contactbox{
        display: flex;  
        justify-content: center;
        align-content: center;
        margin-top: 50px;
        width: 100%;
        background: rgba(17, 20, 26, .5);
        border-radius:  30px; 
        padding: 50px;
        a {
            text-decoration: none;
            color: var(--white);
            display: flex;
        }

  
    
    }

    .contactbox2{
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .logos{
            font-size: 3rem;
            margin: 10px 0px;
        }

        a {
            text-decoration: none;
            color: var(--text-color);
        }

    }
 
    .contactbox3{
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 50px;

        .phone,.mail{
            display: flex;
            margin: 20px 0px;
            color: var(--white);
           p{
            font-size: 24px;
            padding-left: 20px;
            display: flex;
            justify-content: center;
            align-content: center;
           }
        }
 
        }
    
        

.logos{
 
    font-size:  2rem;
    padding-right: 20px;
    padding-left: 20px;
}
.Linea{
 
    align-self: center;
    margin-left: 50px;
    height: 200px;
    border: 1px solid var(--white) ;  
  
  
   
 
}
}

@media (max-width: 600px) {
    .Footer{
        width:90%;
    }
    .Contactbox{
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 50px;
        width: 100%;
        padding: 20px;

        .contactbox2{
            display: flex;  
            flex-direction: row;
            justify-content: center;
            align-content: center; 
            padding-bottom: 30px;   
        }
        .Linea{
            
            align-self: center;
            border: 1px solid var(--white) ;  
            width: 300px;
            max-height: 1px;
            margin-left: 0px;

        }
        .contactbox3{
            display: flex;          
            padding-left: 0px;
            padding-top: 30px;
            justify-content: center;
            align-content: center;    
            align-items: center;
            
            

        .logos{
            align-self: center;
            margin: 10px 0px;


            p{
                align-self: center;
                font-size: 1rem;       
                
            }

        }
        }



    }

}
