@import './vars';



.container{
    width: 100%;
    height: 100vh;
 /*
        scroll-snap-type:  y mandatory;
        scroll-snap-type:  y mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;  
        -webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
     

    section {
        scroll-snap-align: start;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../assets/FondoIntro2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        }


    .Intro{
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;

        height: 100vh;
        width: 100%;
      
       
     
        
    }

    
.TituloIntro {
  
        p{
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 400;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        h1{
       
        font-size: 6rem;
        font-weight:900 ;
        text-transform: uppercase;
        line-height : 85px;
        transition: font-size, ease-in-out, 0.5s, ;

        }
        h1:hover{
            font-size: 7rem;
        } 
        
       
        h1:nth-child(2){
            color: var(--white);

        }

}



@media (max-width: 600px) {
    .TituloIntro {
        p{
            font-size: 0.9rem;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        h1{
            font-size: 2.8rem;
            line-height: 40px;
        }
        h1:hover{
            font-size: 3rem;
        } 
        
       
      
    }
  }

.SobreMi{
    height: 100vh;
    width: 100%;
    background-image: url('../assets/fotoCV.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;


    
   
    .imageporfile{
        display: none;
        width: 500px;
        height: 80%;
        
     

        img{
            width: 300px;
            height: 300px;
         
        }
    }
    

    .TextContainer{
        width: 50%;
        margin-left:40% ;
        padding: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        
       h1{
        color: var(--textcolor);
        text-transform:uppercase;
        padding: 20px 0px;

       }

       p{
        color: var(--white);
        font-size: var(--lg);

       }


    }
     
}

.Proyectos{
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
    
   .titleProyects {
    color: var(--white);
    
   }
}
@media (min-width: 1268px) {
    .Proyectos{
         display: flex;
        flex-direction: column;
        padding: 0px 200px;
    }

}

@media (max-width: 1000px) {
    .SobreMi {
       
        background-image: url('../assets/FondoIntro2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 120px;
      

        .imageporfile{
            display: flex;
            width: 40%;     
            height: 40%;    
           
            justify-content: center;
          
            
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;            
            }
            }
                
    .TextContainer{
       
        width: 100%;
        margin: 0px;
        padding: 0px 50px;
        text-align: center;
        h1{
            align-self: center;
            color: white;
        }
        p{
            font-size: 16px;
        }
    }
    }
}

}
