@import './vars';


.navbar{


 
       
    position: absolute;
    position: fixed;
    bottom: 0;
 
 
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: flex-end;  
     z-index: 1;
     margin-bottom: 0px;



    .Navbar {
       
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(17, 20, 26, .3);
        height: 120px;
        border-radius:   30px 30px 0 0; 
        border: 2px  var(--text-color) solid ;
        border-bottom: none;
   

        
      
        
      
        li{  
            color: var(--white);
            font-size: 34px;
            text-decoration: none;
            padding:  0px 25px 0px 25px;
            list-style: none;
            text-transform: uppercase;
            transition: font-size, 0.5s;

        }

   
        li:hover{
            color: var(--text-color);
            font-size: 42px;
        }
    }
  
    
    @media (max-width: 600px){
        .Navbar{
            width: 600px;

            li{  
                color: var(--white);
                font-size: 32px;
                text-decoration: none;
                padding: 15px;
                list-style: none;
                text-transform: uppercase;
                transition: font-size, 0.5s;

        }
        }
}
}
